.App {
  width: 100%;
  height: max-content;
  padding-top: 10px;
  background-color: #cffff5;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}